.wd-button{
   
        background-color: rgb(243, 243, 243)  ;
        color: black;
        text-align: center;
        text-decoration: none;
        font-weight: light;
        border: 1.5px solid lightgray;
        margin-left: 3px;
     
      
        

}
.wd-button:hover{
    background: linear-gradient(rgba(195, 192, 192, 0.764) 0 0);
   color: black;
   border: rgba(195, 192, 192, 0.764) ;
    
    }


    .wd-slide-link:hover{
        text-decoration: underline;
    }
    .wd-slide-link{
        color: red;
        text-decoration: none;
    }
   
    
 
    
   
        
    

    
    .wd-modules,
    .wd-modules * {
      border-radius: 0%;
      border: none;
      margin: 0px;
      padding: 0px;
    }
    
    .wd-modules {
      margin: 5px;
    }
    
    .wd-modules > li {
      background-color: lightgray;
      border: 1px solid gray !important;
      border-left: none !important;
    }
    
    .wd-modules > li > div {
      padding: 6px;
      border-left: 1px solid gray !important;
    }
    
    .wd-modules > li > ul > li {
      padding: 5px;
      border-top: 1px solid gray !important;
      border-left: 2px solid green;
    }
    
    .wd-modules > li {
      margin-bottom: 20px;
    }
    .float-end{
        margin-right: 3px;
    }
    
    
    