

ul.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0px;  margin: 0px;
    width: 80px;
    height: 900px;
  
   
    
  }

  .wd-kanbas-navigation li {
    padding: 10px;     margin-bottom: 10px;
    font-size: 0.8em;  text-align: center;
    
    
  }
  .wd-kanbas-navigation li.wd-active {
    background-color: white;

  }
 
  .wd-kanbas-navigation li.wd-active a {
    color: red;
  }

  .wd-kanbas-navigation li a {
    color: white;
    margin-bottom: 5px;
    text-decoration: none;
  }
  .fs-2 {
    color: red;
  }
.wd-kanbas-navigation li .wd-active-account .user {
color: gray;
}
.user{
    color: white;
}